## Importing the necessary libraries
- pandas
- sklearn

In [3]:
import pandas as pd
import string
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import spacy
from sklearn.model_selection import train_test_split

## Using pandas library to retrieve the csv file

In [4]:
file = r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\Eng-Fre.csv"
df = pd.read_csv(file, encoding= 'utf-8')
df = df.replace('�','',regex = True)
#df.to_csv("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\Eng-Fre2.csv", index = False)

In [5]:
df

,English words/sentences,French words/sentences
0,Hi.,Salut!
1,Run!,Cours?!
2,Run!,Courez?!
3,Who?,Qui ?
4,Wow!,?a alors?!
...,...,...
175616,"Top-down economics never works, said Obama. ""T...","? L'?conomie en partant du haut vers le bas, ?..."
175617,A carbon footprint is the amount of carbon dio...,Une empreinte carbone est la somme de pollutio...
175618,Death is something that we're often discourage...,La mort est une chose qu'on nous d?courage sou...
175619,Since there are usually multiple websites on a...,Puisqu'il y a de multiples sites web sur chaqu...
175620,If someone who doesn't know your background sa...,Si quelqu'un qui ne conna?t pas vos ant?c?dent...

## Checking for any null values
Checking for missing values: 
- **df.isnull()** or **df.isna()** - will return true if null
- **df.notnull()** - will return true false if null

Handling missing values:
1)   Removing rows or columns with missing values: **df.dropna()**
2)   Interpolating missing values: **df.interpolate()**
3)   Imputing missing values: You can use **df.fillna(value)** to fill missing values with a specific value, or use more advanced techniques like mean, median, or machine learning algorithms for imputation.

In [6]:
df.isna().sum()

English words/sentences    0
French words/sentences     0
dtype: int64

## Checking for unique values

In [7]:
df.nunique().sum()

289032

## Checking the number of rows
Shape function will return a tuple consisting of 2 indices, 1st (rows,columns)

In [8]:
df.shape[0]

175621

## Checking for number of records
We also could use this to see the number of records in every column.

In [9]:
df.count()

English words/sentences    175621
French words/sentences     175621
dtype: int64

## Checking for the data types of values within the dataframe
We could use **astype(dtype)** to change the data type of records e.g. df.astype(float)

In [10]:
df.dtypes

English words/sentences    object
French words/sentences     object
dtype: object

## Checking for number of duplicates
- Detecting duplicates: **df.duplicated()** to check for duplicate rows.
- Removing duplicates: **df.drop_duplicates()** to remove duplicate rows.

In [11]:
df.duplicated().sum()

5

## Printing Duplicates

In [12]:
duplicates = df[df.duplicated()]
duplicates

,English words/sentences,French words/sentences
1621,Stand back!,Reculez !
8626,It's not funny.,Ce n'est pas dr?le !
65263,What time will you leave?,? quelle heure pars-tu??
100309,What's the weather like today?,Quel temps fait-il aujourd'hui??
147869,Medical marijuana is legal in this state.,La marijuana th?rapeutique est l?gale dans cet...

In [13]:
df.isnull()

        English words/sentences  French words/sentences
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
175616                    False                   False
175617                    False                   False
175618                    False                   False
175619                    False                   False
175620                    False                   False

[175621 rows x 2 columns]

In [14]:
Eng, Fre = df["English words/sentences"], df["French words/sentences"]

In [15]:
#Printing out a collection of punctuation marks, ASCII characters
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

## Removing the Punctuation Marks

Initially I did this but then realized that I wasn't really using the fully capabilities of the <span style = "color:red">if statement</span>. You notice that I am instead using the else statement to append the letters to my **col** list.

    def remove_punc(column):
        new_column = []
        for word in column:
            col = [] 
            for letter in word:
                if letter in string.punctuation:
                    letter = letter.replace(letter,'')
                else:
                    col.append(letter) #list for individual letters now without punctuation mark
                new_word = "".join(col)
            new_column.append(new_word)    
        return new_column

Instead I used <span style = "color:blue">not in</span> which was more effective and cleaner.

In [16]:
def remove_punc(column):
    new_column = []
    for word in column:
        col = []
        for letter in word:
            if letter not in string.punctuation:
                col.append(letter) #list for individual letters now without punctuation mark
            new_word = "".join(col)
        new_column.append(new_word)    
    return new_column

In [17]:
No_Punc_Eng = remove_punc(Eng)

In [18]:
No_Punc_Fre = remove_punc(Fre)

In [19]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [20]:
tokenized_Eng = [nltk.word_tokenize(word) for word in No_Punc_Eng]
len(tokenized_Eng)

175621

In [21]:
tokenized_Fre = [nltk.word_tokenize(word) for word in No_Punc_Fre]
len(tokenized_Fre)

175621

In [22]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
#Verifying if that we have English and French Stopwords
from nltk.corpus import stopwords
#stopwords.fileids()

In [24]:
stop_Eng = stopwords.words('english') #179 of them

In [25]:
stop_Fre = stopwords.words('french') #157 of them

In [26]:
No_Stop_Eng = []
for word in tokenized_Eng:
    if word not in stop_Eng:
        No_Stop_Eng.append(word)

In [27]:
len(No_Stop_Eng)

175621

In [28]:
No_Stop_Fre = []
for word in tokenized_Fre:
    if word not in stop_Fre:
        No_Stop_Fre.append(word)

In [29]:
len(No_Stop_Fre)

175621

In [30]:
lower_Fre = []
for words in No_Stop_Fre:
    for word in words:
        lower_Fre.append(word.lower())

In [31]:
lower_Eng = []
for words in No_Stop_Eng:
    for word in words:
        lower_Eng.append(word.lower())

I will opt for lemmatization and not stemming as I did before:


    ps = PorterStemmer()
    print(" {0:25}  {1:25} ".format("--Word(s)--","--Stem--"))
    for word in lower_Eng:
        print("   {0:25}  {1:25} ".format(word,ps.stem(word)))

In [32]:
# nltk.download('all') - Every Package is Up-to-date for my Ellie

In [33]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
wnl = WordNetLemmatizer()

In [35]:
nltk.download('wordnet')
'''print(" {0:25}  {1:25} ".format("--Word(s)--","--Lemma--"))
for word in lower_Fre:
    print("   {0:25}  {1:25} ".format(word, wnl.lemmatize(word, pos='v')))'''
    
lemm_Eng = [wnl.lemmatize(word, pos='v') for word in lower_Eng]

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [38]:
import pandas as pd

# Create a DataFrame from the lemmatized texts
df = pd.DataFrame({'lemmas': lemmas})

# Save the DataFrame as a Parquet file
df.to_parquet('lemmas.parquet')

# Read the Parquet file
df = pd.read_parquet('lemmas.parquet')

# Access the lemmas
lemmas = df['lemmas'].tolist()

NameError: name 'lemmas' is not defined

!python -m spacy download fr_core_news_md

import spacy
nlp = spacy.load('fr_core_news_md')
lemm_Fre = []
for text in lower_Fre:
    doc = nlp(text)
    for word in doc:
        print(word.lemma_)

## Splitting Dataset into 70:30 Ratio

In [37]:
Eng_train, Eng_test, Fre_train, Fre_test = train_test_split(Eng, Fre, test_size= .33, random_state=42)