## Brief description of the data set and a summary of its attributes
My data set is made up of two columns: English words/sentences and French words/sentences.

It contains 175622 rows, of which there wasn’t any null values.

I pulled the data set from Kaggle as I needed data containing proper and correct translation of both languages. I am also fluent only in one of the languages, English thus it provided me with a ready made translation.

## Importing the necessary libraries
- pandas
- sklearn

In [3]:
import pandas as pd
import string
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import spacy
from sklearn.model_selection import train_test_split

## Using pandas library to retrieve the csv file

In [4]:
file = r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\Eng-Fre.csv"
df = pd.read_csv(file, encoding= 'utf-8')
df = df.replace('�','',regex = True)
#df.to_csv("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\Eng-Fre2.csv", index = False)

## Printing out the first 5 rows of the data frame

In [39]:
df.head(5)

  English words/sentences French words/sentences
0                     Hi.                 Salut!
1                    Run!                Cours?!
2                    Run!               Courez?!
3                    Who?                  Qui ?
4                    Wow!             ?a alors?!

## Checking for any null values
Checking for missing values: 
- **df.isnull()** or **df.isna()** - will return true if null
- **df.notnull()** - will return true false if null

Handling missing values:
1)   Removing rows or columns with missing values: **df.dropna()**
2)   Interpolating missing values: **df.interpolate()**
3)   Imputing missing values: You can use **df.fillna(value)** to fill missing values with a specific value, or use more advanced techniques like mean, median, or machine learning algorithms for imputation.

In [6]:
df.isna().sum()

English words/sentences    0
French words/sentences     0
dtype: int64

## Checking for unique values

In [7]:
df.nunique().sum()

289032

## Checking the number of rows
Shape function will return a tuple consisting of 2 indices, 1st (rows,columns)

In [8]:
df.shape[0]

175621

## Checking for number of records
We also could use this to see the number of records in every column.

In [9]:
df.count()

English words/sentences    175621
French words/sentences     175621
dtype: int64

## Checking for the data types of values within the dataframe
We could use **astype(dtype)** to change the data type of records e.g. df.astype(float)

In [10]:
df.dtypes

English words/sentences    object
French words/sentences     object
dtype: object

## Checking for number of duplicates
- Detecting duplicates: **df.duplicated()** to check for duplicate rows.
- Removing duplicates: **df.drop_duplicates()** to remove duplicate rows.

In [11]:
df.duplicated().sum()

5

## Printing Duplicates

In [12]:
duplicates = df[df.duplicated()]
duplicates

,English words/sentences,French words/sentences
1621,Stand back!,Reculez !
8626,It's not funny.,Ce n'est pas dr?le !
65263,What time will you leave?,? quelle heure pars-tu??
100309,What's the weather like today?,Quel temps fait-il aujourd'hui??
147869,Medical marijuana is legal in this state.,La marijuana th?rapeutique est l?gale dans cet...

In [13]:
df.isnull()

        English words/sentences  French words/sentences
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
175616                    False                   False
175617                    False                   False
175618                    False                   False
175619                    False                   False
175620                    False                   False

[175621 rows x 2 columns]

In [14]:
Eng, Fre = df["English words/sentences"], df["French words/sentences"]

In [15]:
#Printing out a collection of punctuation marks, ASCII characters
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

## Removing the Punctuation Marks

Initially I did this but then realized that I wasn't really using the fully capabilities of the <span style = "color:red">if statement</span>. You notice that I am instead using the else statement to append the letters to my **col** list.

    def remove_punc(column):
        new_column = []
        for word in column:
            col = [] 
            for letter in word:
                if letter in string.punctuation:
                    letter = letter.replace(letter,'')
                else:
                    col.append(letter) #list for individual letters now without punctuation mark
                new_word = "".join(col)
            new_column.append(new_word)    
        return new_column

Instead I used <span style = "color:blue">not in</span> which was more effective and cleaner.

In [16]:
def remove_punc(column):
    new_column = []
    for word in column:
        col = []
        for letter in word:
            if letter not in string.punctuation:
                col.append(letter) #list for individual letters now without punctuation mark
            new_word = "".join(col)
        new_column.append(new_word)    
    return new_column

In [17]:
No_Punc_Eng = remove_punc(Eng)

In [18]:
No_Punc_Fre = remove_punc(Fre)

In [19]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [40]:
tokenized_Eng = [nltk.word_tokenize(word) for word in No_Punc_Eng]
len(tokenized_Eng)

175621

In [21]:
tokenized_Fre = [nltk.word_tokenize(word) for word in No_Punc_Fre]
len(tokenized_Fre)

175621

In [22]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
#Verifying if that we have English and French Stopwords
from nltk.corpus import stopwords
#stopwords.fileids()

In [24]:
stop_Eng = stopwords.words('english') #179 of them

In [25]:
stop_Fre = stopwords.words('french') #157 of them

In [26]:
No_Stop_Eng = []
for word in tokenized_Eng:
    if word not in stop_Eng:
        No_Stop_Eng.append(word)

In [27]:
len(No_Stop_Eng)

175621

In [28]:
No_Stop_Fre = []
for word in tokenized_Fre:
    if word not in stop_Fre:
        No_Stop_Fre.append(word)

In [29]:
len(No_Stop_Fre)

175621

In [47]:
lower_Fre = []
for words in No_Stop_Fre:
    for word in words:
        lower_Fre.append(word.lower())

In [66]:
df = pd.DataFrame(lower_Fre,columns= ["French Words"])
df2 = pd.DataFrame(lower_Fre,columns= ["French Words"])
#df.to_parquet("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\French.parquet")
df2.to_csv("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\French.csv")

In [78]:
%time French = pd.read_parquet("French.parquet")
%time French2 = pd.read_csv("French.csv")

CPU times: total: 438 ms
Wall time: 454 ms
CPU times: total: 703 ms
Wall time: 791 ms

In [84]:
French = pd.read_parquet("French.parquet")

In [80]:
French2 = pd.read_csv("French.csv", usecols=lambda col: col != 'Unnamed: 0')

In [90]:
import dask.dataframe as dd
FrenchPar = dd.read_parquet("French.parquet")
FrenchPar.npartitions

1

In [93]:
FrenchPar = FrenchPar.repartition(npartitions=20)

In [94]:
FrenchPar.to_parquet(r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\French")

In [31]:
lower_Eng = []
for words in No_Stop_Eng:
    for word in words:
        lower_Eng.append(word.lower())

I will opt for lemmatization and not stemming as I did before:


    ps = PorterStemmer()
    print(" {0:25}  {1:25} ".format("--Word(s)--","--Stem--"))
    for word in lower_Eng:
        print("   {0:25}  {1:25} ".format(word,ps.stem(word)))

In [32]:
# nltk.download('all') - Every Package is Up-to-date for my Ellie

In [33]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [34]:
wnl = WordNetLemmatizer()

In [35]:
nltk.download('wordnet')
'''print(" {0:25}  {1:25} ".format("--Word(s)--","--Lemma--"))
for word in lower_Fre:
    print("   {0:25}  {1:25} ".format(word, wnl.lemmatize(word, pos='v')))'''
    
lemm_Eng = [wnl.lemmatize(word, pos='v') for word in lower_Eng]

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

!python -m spacy download fr_core_news_md

In [102]:
import spacy
nlp = spacy.load('fr_core_news_md')
Part0 = dd.read_parquet(r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\French\part.0.parquet")

In [110]:
for word in FrenchPar.to_delayed():
    partition = word.compute()
    print(partition)

      French Words
0            salut
1            cours
2           courez
3              qui
4                a
...            ...
56009        elles
56010         sont
56011       toutes
56012          ici
56013          ils

[56014 rows x 1 columns]
       French Words
56014          sont
56015          tous
56016           moi
56017         elles
56018          sont
...             ...
112024        jtais
112025         trop
112026    ambitieux
112027        jtais
112028         trop

[56015 rows x 1 columns]
       French Words
112029   ambitieuse
112030        jtais
112031          mal
112032        laise
112033          jai
...             ...
168039           je
168040          lui
168041          dis
168042         quoi
168043        faire

[56015 rows x 1 columns]
       French Words
168044           je
168045          lui
168046           ai
168047         tout
168048          dit
...             ...
224054           ce
224055         nest
224056         plus
224057           un
224058       enfant

[56015 rows x 1 columns]
       French Words
224059           ce
224060         nest
224061          pas
224062           un
224063      inconnu
...             ...
280069           en
280070        train
280071           de
280072      djeuner
280073           le

[56015 rows x 1 columns]
       French Words
280074       miroir
280075          est
280076          trs
280077         sale
280078      largent
...             ...
336084       savoir
336085   voulezvous
336086     vraiment
336087       savoir
336088    tenezvous

[56015 rows x 1 columns]
       French Words
336089           le
336090       savoir
336091           tu
336092        tiens
336093     vraiment
...             ...
392098           ne
392099          ten
392100     tiendrai
392101          pas
392102      rigueur

[56014 rows x 1 columns]
       French Words
392103           je
392104           ne
392105         vous
392106           en
392107     tiendrai
...             ...
448113       semble
448114     mcontent
448115          tom
448116            a
448117         lair

[56015 rows x 1 columns]
       French Words
448118          trs
448119      distant
448120   aujourdhui
448121          tom
448122            a
...             ...
504128           de
504129        temps
504130         vont
504131      prendre
504132          les

[56015 rows x 1 columns]
        French Words
504133    rparations
504134       combien
504135            de
504136         temps
504137  resterezvous
...              ...
560143          cela
560144      personne
560145            ne
560146            me
560147        laisse

[56015 rows x 1 columns]
       French Words
560148         plus
560149      mamuser
560150     personne
560151           ne
560152          dit
...             ...
616158           de
616159           ne
616160          pas
616161     attendre
616162         plus

[56015 rows x 1 columns]
        French Words
616163     longtemps
616164            il
616165             a
616166       consacr
616167            sa
...              ...
672173      entrions
672174  immdiatement
672175           ils
672176       veulent
672177           que

[56015 rows x 1 columns]
       French Words
672178         nous
672179     entrions
672180           de
672181        suite
672182        elles
...             ...
728188        plait
728189     veuillez
728190        crire
728191        votre
728192         date

[56015 rows x 1 columns]
       French Words
728193           de
728194    naissance
728195          ici
728196         cris
728197           ta
...             ...
784202        appel
784203          les
784204     pompiers
784205          mon
784206       voisin

[56014 rows x 1 columns]
       French Words
784207         sest
784208       plaint
784209           du
784210        bruit
784211           ma
...             ...
840217     toujours
840218          tom
840219      voulait
840220          que
840221        marie

[56015 rows x 1 columns]
       French Words
840222        garde
840223          ses
840224      enfants
840225          tom
840226      voulait
...             ...
896232         pays
896233           de
896234        quand
896235         date
896236           la

[56015 rows x 1 columns]
       French Words
896237      dernire
896238         fois
896239          que
896240           tu
896241           as
...             ...
952247        vieux
952248         plus
952249           on
952250      devient
952251     distrait

[56015 rows x 1 columns]
        French Words
952252            le
952253          seul
952254         moyen
952255            de
952256        savoir
...              ...
1008262     pourquoi
1008263        distu
1008264          une
1008265        chose
1008266           et

[56015 rows x 1 columns]
        French Words
1008267      ensuite
1008268           tu
1008269            y
1008270          vas
1008271           et
...              ...
1064277           eu
1064278     violente
1064279   divergence
1064280    dopinions
1064281        entre

[56015 rows x 1 columns]
        French Words
1064282          les
1064283         deux
1064284      leaders
1064285           il
1064286            y
...              ...
1120292     vraiment
1120293        comme
1120294           un
1120295     locuteur
1120296        natif

[56015 rows x 1 columns]

In [96]:
lemm_Fre = []
for text in Part0:
    doc = nlp(text)
    for word in doc:
        print(word,word.lemma_)

French French
Words Words

## Splitting Dataset into 70:30 Ratio

In [37]:
Eng_train, Eng_test, Fre_train, Fre_test = train_test_split(Eng, Fre, test_size= .33, random_state=42)