## Importing the necessary libraries
- pandas
- sklearn

In [4]:
import pandas as pd
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

## Using pandas library to retrieve the csv file

In [5]:
file = r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\Eng-Fre.csv"
df = pd.read_csv(file)
df

,English words/sentences,French words/sentences
0,Hi.,Salut!
1,Run!,Cours�!
2,Run!,Courez�!
3,Who?,Qui ?
4,Wow!,�a alors�!
...,...,...
175616,"Top-down economics never works, said Obama. ""T...","� L'�conomie en partant du haut vers le bas, �..."
175617,A carbon footprint is the amount of carbon dio...,Une empreinte carbone est la somme de pollutio...
175618,Death is something that we're often discourage...,La mort est une chose qu'on nous d�courage sou...
175619,Since there are usually multiple websites on a...,Puisqu'il y a de multiples sites web sur chaqu...
175620,If someone who doesn't know your background sa...,Si quelqu'un qui ne conna�t pas vos ant�c�dent...

## Checking for any null values
Checking for missing values: 
- **df.isnull()** or **df.isna()** - will return true if null
- **df.notnull()** - will return true false if null

Handling missing values:
1)   Removing rows or columns with missing values: **df.dropna()**
2)   Interpolating missing values: **df.interpolate()**
3)   Imputing missing values: You can use **df.fillna(value)** to fill missing values with a specific value, or use more advanced techniques like mean, median, or machine learning algorithms for imputation.

In [6]:
df["French words/sentences"].isna().sum()

0

## Checking for unique values

In [7]:
df.nunique().sum()

289032

## Checking the number of rows
Shape function will return a tuple consisting of 2 indices, 1st (rows,columns)

In [8]:
df.shape[0]

175621

## Checking for number of records
We also could use this to see the number of records in every column.

In [9]:
df.count()

English words/sentences    175621
French words/sentences     175621
dtype: int64

## Checking for the data types of values within the dataframe
We could use **astype(dtype)** to change the data type of records e.g. df.astype(float)

In [10]:
df.dtypes

English words/sentences    object
French words/sentences     object
dtype: object

## Checking for number of duplicates
- Detecting duplicates: **df.duplicated()** to check for duplicate rows.
- Removing duplicates: **df.drop_duplicates()** to remove duplicate rows.

In [11]:
df["English words/sentences"].duplicated().sum()

52521

In [12]:
df.isnull()

        English words/sentences  French words/sentences
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
175616                    False                   False
175617                    False                   False
175618                    False                   False
175619                    False                   False
175620                    False                   False

[175621 rows x 2 columns]

In [13]:
Eng, Fre = df["English words/sentences"], df["French words/sentences"]

## Splitting Dataset into 70:30 Ratio

In [14]:
Eng_train, Eng_test, Fre_train, Fre_test = train_test_split(Eng, Fre, test_size= .33, random_state=42)

In [15]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
if string.punctuation in df.iterrows:
    print("yes")

TypeError: argument of type 'method' is not iterable

In [20]:
unique_Eng = Eng.nunique()
#plt.pie(unique_Eng)

0                                                       Hi.
1                                                      Run!
2                                                      Run!
3                                                      Who?
4                                                      Wow!
                                ...
175616    Top-down economics never works, said Obama. "T...
175617    A carbon footprint is the amount of carbon dio...
175618    Death is something that we're often discourage...
175619    Since there are usually multiple websites on a...
175620    If someone who doesn't know your background sa...
Name: English words/sentences, Length: 175621, dtype: object