## Brief description of the data set and a summary of its attributes
My data set is made up of two columns: English words/sentences and French words/sentences.

It contains 175622 rows, of which there wasn’t any null values.

I pulled the data set from Kaggle as I needed data containing proper and correct translation of both languages. I am also fluent only in one of the languages, English thus it provided me with a ready made translation.

## Importing the necessary libraries
- pandas
- sklearn

In [81]:
import pandas as pd
import string
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import spacy
from sklearn.model_selection import train_test_split

## Using pandas library to retrieve the csv file

In [82]:
file = r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\Eng-Fre.csv"
df = pd.read_csv(file, encoding= 'utf-8')
df = df.replace('�','',regex = True)
#df.to_csv("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\Eng-Fre2.csv", index = False)

## Printing out the first 5 rows of the data frame

In [83]:
df.head(5)

  English words/sentences French words/sentences
0                     Hi.                 Salut!
1                    Run!                Cours?!
2                    Run!               Courez?!
3                    Who?                  Qui ?
4                    Wow!             ?a alors?!

## Checking for any null values
Checking for missing values: 
- **df.isnull()** or **df.isna()** - will return true if null
- **df.notnull()** - will return true false if null

Handling missing values:
1)   Removing rows or columns with missing values: **df.dropna()**
2)   Interpolating missing values: **df.interpolate()**
3)   Imputing missing values: You can use **df.fillna(value)** to fill missing values with a specific value, or use more advanced techniques like mean, median, or machine learning algorithms for imputation.

In [84]:
df.isna().sum()

English words/sentences    0
French words/sentences     0
dtype: int64

## Checking for unique values

In [85]:
df.nunique().sum()

289032

## Checking the number of rows
Shape function will return a tuple consisting of 2 indices, 1st (rows,columns)

In [86]:
df.shape[0]

175621

## Checking for number of records
We also could use this to see the number of records in every column.

In [87]:
df.count()

English words/sentences    175621
French words/sentences     175621
dtype: int64

## Checking for the data types of values within the dataframe
We could use **astype(dtype)** to change the data type of records e.g. df.astype(float)

In [88]:
df.dtypes

English words/sentences    object
French words/sentences     object
dtype: object

## Checking for number of duplicates
- Detecting duplicates: **df.duplicated()** to check for duplicate rows.
- Removing duplicates: **df.drop_duplicates()** to remove duplicate rows.

In [89]:
df.duplicated().sum()

5

## Printing Duplicates

In [90]:
duplicates = df[df.duplicated()]
duplicates

,English words/sentences,French words/sentences
1621,Stand back!,Reculez !
8626,It's not funny.,Ce n'est pas dr?le !
65263,What time will you leave?,? quelle heure pars-tu??
100309,What's the weather like today?,Quel temps fait-il aujourd'hui??
147869,Medical marijuana is legal in this state.,La marijuana th?rapeutique est l?gale dans cet...

In [91]:
df.isnull()

        English words/sentences  French words/sentences
0                         False                   False
1                         False                   False
2                         False                   False
3                         False                   False
4                         False                   False
...                         ...                     ...
175616                    False                   False
175617                    False                   False
175618                    False                   False
175619                    False                   False
175620                    False                   False

[175621 rows x 2 columns]

In [92]:
Eng, Fre = df["English words/sentences"], df["French words/sentences"]

In [93]:
#Printing out a collection of punctuation marks, ASCII characters
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

## Removing the Punctuation Marks

Initially I did this but then realized that I wasn't really using the fully capabilities of the <span style = "color:red">if statement</span>. You notice that I am instead using the else statement to append the letters to my **col** list.

    def remove_punc(column):
        new_column = []
        for word in column:
            col = [] 
            for letter in word:
                if letter in string.punctuation:
                    letter = letter.replace(letter,'')
                else:
                    col.append(letter) #list for individual letters now without punctuation mark
                new_word = "".join(col)
            new_column.append(new_word)    
        return new_column

Instead I used <span style = "color:blue">not in</span> which was more effective and cleaner.

In [94]:
def remove_punc(column):
    new_column = []
    for word in column:
        col = []
        for letter in word:
            if letter not in string.punctuation:
                col.append(letter) #list for individual letters now without punctuation mark
            new_word = "".join(col)
        new_column.append(new_word)    
    return new_column

In [95]:
No_Punc_Eng = remove_punc(Eng)

In [137]:
No_Punc_Fre = remove_punc(Fre)

In [97]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [98]:
tokenized_Eng = [nltk.word_tokenize(word) for word in No_Punc_Eng]
len(tokenized_Eng)

175621

In [100]:
tokenized_Fre = [nltk.sent_tokenize(word) for word in No_Punc_Fre]
len(tokenized_Fre)

175621

In [101]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [102]:
#Verifying if that we have English and French Stopwords
from nltk.corpus import stopwords
#stopwords.fileids()

In [103]:
stop_Eng = stopwords.words('english') #179 of them

In [104]:
stop_Fre = stopwords.words('french') #157 of them

In [105]:
No_Stop_Eng = []
for word in tokenized_Eng:
    if word not in stop_Eng:
        No_Stop_Eng.append(word)

In [106]:
len(No_Stop_Eng)

175621

In [107]:
No_Stop_Fre = []
for word in tokenized_Fre:
    if word not in stop_Fre:
        No_Stop_Fre.append(word)

In [108]:
len(No_Stop_Fre)

175621

In [109]:
lower_Fre = []
for words in No_Stop_Fre:
    for word in words:
        lower_Fre.append(word.lower())

In [186]:
lower_Eng = []
for words in No_Stop_Eng:
    for word in words:
        lower_Eng.append(word.lower())

In [141]:
df = pd.DataFrame(lower_Fre,columns= ["French Words"])
df2 = pd.DataFrame(lower_Fre,columns= ["French Words"])
df.to_parquet("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\French.parquet")
df2.to_csv("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\French.csv")

In [159]:
French = pd.read_parquet("French.parquet")
len(French)

175621

In [160]:
#French2 = pd.read_csv("French.csv", usecols=lambda col: col != 'Unnamed: 0')

In [187]:
import dask.dataframe as dd
FrenchPar = dd.read_parquet("French.parquet")
len(FrenchPar)

175621

In [188]:
FrenchPar = FrenchPar.repartition(npartitions=20)

In [189]:
FrenchPar.to_parquet(r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\French")

In [166]:
df3 = pd.DataFrame(lower_Eng,columns= ["English Words"])
df3.to_parquet("C:\\Users\\Bildad Otieno\\Documents\\Billy_Repo\\Translation_Mod\\English.parquet")

In [167]:
EnglishPar = pd.read_parquet(r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\English.parquet")
EnglishPar

        English Words
0                  hi
1                 run
2                 run
3                 who
4                 wow
...               ...
1082311         sound
1082312          like
1082313             a
1082314        native
1082315       speaker

[1082316 rows x 1 columns]

In [168]:
EnglishPar.npartitions

AttributeError: 'DataFrame' object has no attribute 'npartitions'

In [169]:
EnglishPar = EnglishPar.repartition(20)

AttributeError: 'DataFrame' object has no attribute 'repartition'

In [170]:
EnglishPar

        English Words
0                  hi
1                 run
2                 run
3                 who
4                 wow
...               ...
1082311         sound
1082312          like
1082313             a
1082314        native
1082315       speaker

[1082316 rows x 1 columns]

I will opt for lemmatization and not stemming as I did before:


    ps = PorterStemmer()
    print(" {0:25}  {1:25} ".format("--Word(s)--","--Stem--"))
    for word in lower_Eng:
        print("   {0:25}  {1:25} ".format(word,ps.stem(word)))

In [171]:
# nltk.download('all') - Every Package is Up-to-date for my Ellie

In [172]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [173]:
wnl = WordNetLemmatizer()

In [174]:
nltk.download('wordnet')
'''print(" {0:25}  {1:25} ".format("--Word(s)--","--Lemma--"))
for word in lower_Fre:
    print("   {0:25}  {1:25} ".format(word, wnl.lemmatize(word, pos='v')))'''
    
lemm_Eng = [wnl.lemmatize(word, pos='v') for word in lower_Eng]

[nltk_data] Downloading package wordnet to C:\Users\Bildad
[nltk_data]     Otieno/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

!python -m spacy download fr_core_news_md

In [175]:
import spacy
nlp = spacy.load('fr_core_news_md')
Part0 = dd.read_parquet(r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\French\part.0.parquet")

In [200]:

FreWord = []
for word in FrenchPar.to_delayed():
    FreWord.append(word.compute())

In [207]:

new_col = []
for text in FreWord:
    doc = nlp(str(text))
    col = []
    for word in doc:
        col.append(word.lemma_)
    new_word = " ".join(col)
    new_col.append(new_word)
    print(new_word)

                  French Words
 0                        salut
 1                        cours
 2                       courir
 3                          qui
 4                      avoir alors
 ...                        ...
 8776   puisje me joindre   vous
 8777   puisje vous accompagner
 8778     puisje vous embrasser
 8779       puisje masseoir ici
 8780      puisje utiliser ceci

 [ 8781 row x 1 column ]
                      French Words
 8781    le homme être un idiot
 8782       le homme être simple
 8783               il en falloir plus
 8784        motu et bouche coudre
 8785           mon voiture être sale
 ...                            ...
 17557       vous nte pas chanteur
 17558      vous nte pas chanteur
 17559          tu nes pas chanteur
 17560         tu nes pas chanteur
 17561              tu nes pas seul

 [ 8781 row x 1 column ]
                   French Words
 17562          tu ner pas seul
 17563        vous nte pas seul
 17564       vous nte pas seul
 17565      vous nte pas seul
 17566       vous nte pas seul
 ...                         ...
 26338    tom avoir un mauvais rhume
 26339         tom avoir un gros nez
 26340   tom avoir un voiture bleu
 26341   tom avoir le gueule de bois
 26342       tom avoir un moustache

 [ 8781 row x 1 column ]
                                           French Words
 26343                           tom avoir le cheveu noir
 26344                           tom avoir le cheveu brun
 26345                                     tom ton choisir
 26346                                 tom vous avoir choisir
 26347                            tom avoir perdre le pdale
 ...                                                 ...
 35119               jai entendre mon pantalon se dchirer
 35120                           jai entendre le question
 35121   jai entendre dire que vous vous en tiez bien tir
 35122         jai entendre dire que tu ten taire bien tir
 35123                            jai engag un assistant

 [ 8781 row x 1 column ]
                        French Words
 35124     il mest venir un bon ide
 35125    jespre que ce nest pas vrai
 35126     jespre que cest un blague
 35127       jespre quils mont apprci
 35128    jespre quel mont apprcie
 ...                              ...
 43900     le guerre nest pas terminer
 43901                  leau être tide
 43902             le temps taire idal
 43903     le baleine être un mammifre
 43904   le vent souffler tout le jour

 [ 8781 row x 1 column ]
                                  French Words
 43905         le vent avoir souffl tout le journe
 43906              le fentre taient ouvrir
 43907               le femme être au travail
 43908                   le femme travailler
 43909                         le monde avoir chang
 ...                                        ...
 52681         être plus gentil avec votre sur
 52682       être plus gentil avec votre sur
 52683      être plus gentil avec votre sur
 52684                  bel journe nestce pas
 52685   il faire un temps magnifique nestce pas

 [ 8781 row x 1 column ]
                              French Words
 52686         magnifique journe nestce pas
 52687      le beaut nest que superficiel
 52688      attention à chute de pierre
 52689      le chat noir porter malheur
 52690                   le noir te aller bien
 ...                                    ...
 61462          je savoir que tom avoir t horrifi
 61463   je savoir que tom ne plaisanter pas
 61464     je savoir que tom nabandonnerer pas
 61465   je être au courant pour ton cancer
 61466           je connaître le deux fille

 [ 8781 row x 1 column ]
                                     French Words
 61467                  je savoir prcisment qui cest
 61468           je savoir prcisment de qui il sagit
 61469                 je savoir que cest impossible
 61470                je savoir que ce nest quun rve
 61471           je savoir que cest seulement un rve
 ...                                           ...
 70243             cest difficile de te surprendre
 70244                 tu être difficile   surprendre
 70245              cest plus dur que avoir nen avoir lair
 70246                  cest incroyable nestce pas
 70247   cest juste le manire dont celer fonctionner

 [ 8781 row x 1 column ]
                                        French Words
 70248   cest juste ainsi que le chose fonctionner
 70249                        cest plutt embarrassant
 70250              il être plus tard que tu ne pense
 70251                    il être presque trois heure
 70252                         avoir ne mest jamais arriv
 ...                                              ...
 79024                       tom avoir un accent amricain
 79025           tom avoir faire un rserve de nourriture
 79026             tom na pas dire un mot de le journe
 79027        tom être rest silencieux tout le journe
 79028                  tom avoir t silencieux aujourdhui

 [ 8781 row x 1 column ]
                             French Words
 79029        tom na rien dire de le journe
 79030               tom avoir t prendre en otage
 79031                  tom avoir t trs gnreux
 79032        tom avoir un ide constructif
 79033        tom avoir dcid de faire le deux
 ...                                   ...
 87805    sontils japoner ou bien chinois
 87806   sontelle japonais ou chinois
 87807        estce quils rentrer ce soir
 87808                  vontils arrter tom
 87809                vontelle arrter tom

 [ 8781 row x 1 column ]
                                French Words
 87810                il vendre son maison
 87811         sommesnou seul dans luniver
 87812        sommesnou seul dans luniver
 87813                   astu peur de lavenir
 87814          tesvous tout compltement fou
 ...                                      ...
 96586   jer quelque chose quil me falloir faire
 96587                 jai autre chose en tte
 96588   jai galement quelque chose pour vous
 96589    jai galement quelque chose pour toi
 96590          il me reste trois page   lire

 [ 8781 row x 1 column ]
                               French Words
 96591      je devoir escalader ce montagne
 96592         je devoir gravir ce montagne
 96593        je devoir faire cuire le lgume
 96594           je devoir cuisiner le lgume
 96595              je devoir expliquer avoir   tom
 ...                                     ...
 105367             le police mne son enqute
 105368     le police na pas encore de piste
 105369        le possibilit être infini
 105370      le presse avoir confirm le rumeur
 105371   le pression se faire sentir sur luire

 [ 8781 row x 1 column ]
                                    French Words
 105372           le prix rester comme il être
 105373          le problme nest pas encore rsolu
 105374              le question être   qui le faire
 105375          le lapin se cacher derrire larbre
 105376         le lapin sest cach derrire larbre
 ...                                          ...
 114148      comment savaistu quil en manquer un
 114149    comment saviezvou quil en manquer un
 114150        comment avezvous obtenir ce tableau
 114151            comment astu obtenir ce tableau
 114152   comment avezvous pass votre temps libre

 [ 8781 row x 1 column ]
                                         French Words
 114153        comment comptentil que nous survivre
 114154      comment comptentelle que nous survivre
 114155      comment saistu quil ne sagit pas dun pige
 114156   comment savezvous quil ne sagit pas dun pige
 114157                   comment veuxtu que je payer avoir
 ...                                               ...
 122929           quel genre de poisson être votre prfr
 122930                     quand allezvous terminer avoir
 122931                         quand vastu terminer avoir
 122932                            quand te marierastu
 122933                        quand vous marierezvous

 [ 8781 row x 1 column ]
                                       French Words
 122934                  quand allezvous vous marier
 122935                  quand estu revenu de boston
 122936                quand tesvous rentr de boston
 122937               quand tesvous rentrs de boston
 122938                  quand estu rentrer de boston
 ...                                             ...
 131710   nous avoir un travail important   faire ici
 131711            avoir faire un heure quon attendre ici
 131712         nous attendre ici depuis un heure
 131713        nous avoir captur un de leur espion
 131714             nous avoir quatre cours le matin

 [ 8781 row x 1 column ]
                                              French Words
 131715               nous avoir le contrle de le situation
 131716           nous avoir trois arbre dans notre jardin
 131717            nous devoir faire attention   notre dpense
 131718           il nous falloir faire attention   notre dpense
 131719                         il nous falloir tre prts   tout
 ...                                                    ...
 140491       je être responsable de cours de troisim anne
 140492                        japprci beaucoup votre aide
 140493                          japprci beaucoup ton aide
 140494       je être vraiment dsol de tavoir faire attendre
 140495   je être tellement dsol de vous avoir faire atte ...

 [ 8781 row x 1 column ]
                                              French Words
 140496   je être tellement dsole de vous avoir faire att ...
 140497    je être suppos aller   tokyo le semaine prochain
 140498               je aller reprendre laffaire de mon pre
 140499   je être reconnaître pour ce que tu essayer d ...
 140500   je être reconnaissant pour ce que tu essayer ...
 ...                                                    ...
 149272   le franai avoir beaucoup plus de voyelle que le ...
 149273         le franai nest pas si difficile   apprendre
 149274                     dsormais je aller tre l pour toi
 149275                    dsormais je aller tre l pour vous
 149276                   danne en anne le pollution empire

 [ 8781 row x 1 column ]
                                              French Words
 149277        lessence schapper dune fissure dans le tube
 149278      le gaz schapper dune fissure dans le conduite
 149279          de faon gnral le amricain aimer le caf
 149280   donneznou deux couteau et quatre fourchette ...
 149281          tant donn son inexprience lui avoir bien faire
 ...                                                    ...
 158053   officiellement il travailler pour nous en tant ...
 158054   en entendre le mauvais nouveau lui clat ...
 158055       lun de mon crivain prfrs être herman melvill
 158056     on devoir traiter son enseignant avec respect
 158057   seul un chameau pouvoir laisser un empreinte ...

 [ 8781 row x 1 column ]
                                              French Words
 158058      notre appartement commencer   avoir de le gueule
 158059      notre voisin avoir t obligs de vendre son maison
 158060   notre quipe na pas atteindre ce anne le phas ...
 158061   notre ultime but être dtablir le paix dans le m ...
 158062   notre monde être seulement un minuscule partie ...
 ...                                                    ...
 166834   tu nas pas   dire quoi que ce être que tu ne ve ...
 166835       tu nes pas oblig den parler si tu ne vouloir pas
 166836      tu nes pas obliger den parler si tu ne vouloir pas
 166837   vous nte pas oblig den parler si vous ne voul ...
 166838   vous nte pas obliger den parler si vous ne vou ...

 [ 8781 row x 1 column ]
                                              French Words
 166839   vous nte pas obligs den parler si vous ne vou ...
 166840   vous nte pas obliger den parler si vous ne vo ...
 166841   vous nte pas oblig den parler si vous ne le v ...
 166842   vous nte pas obliger den parler si vous ne le ...
 166843   vous nte pas obligs den parler si vous ne le ...
 ...                                                    ...
 175616    lconomi en partir de haut vers le bas avoir ne ...
 175617   un empreinte carbone être le somme de pollutio ...
 175618   le mort être un chose quon nous dcourage souve ...
 175619   puisquil y avoir de multiple site web sur chaque ...
 175620   si quelquun qui ne connat pas votre antcdent di ...

 [ 8782 row x 1 column ]

In [180]:
file_pattern = r"C:\Users\Bildad Otieno\Documents\Billy_Repo\Translation_Mod\French\part.*.parquet"

df4 = dd.read_parquet(file_pattern)

merged_df4 = dd.concat([df4])

merged_df4 = merged_df4.compute()
merged_df4

                                             French Words
0                                                   salut
1                                                   cours
2                                                  courez
3                                                     qui
4                                                 a alors
...                                                   ...
175616   lconomie en partant du haut vers le bas a ne ...
175617  une empreinte carbone est la somme de pollutio...
175618  la mort est une chose quon nous dcourage souve...
175619  puisquil y a de multiples sites web sur chaque...
175620  si quelquun qui ne connat pas vos antcdents di...

[175621 rows x 1 columns]

## Splitting Dataset into 70:30 Ratio

In [131]:
Eng_train, Eng_test, Fre_train, Fre_test = train_test_split(Eng, Fre, test_size= .33, random_state=42)