## Importing the necessary libraries
~pandas

In [1]:
import pandas as pd

## Using pandas library to retrieve the csv file

In [2]:
file = "Eng-Fre.csv"
df = pd.read_csv(file)
df

,English words/sentences,French words/sentences
0,Hi.,Salut!
1,Run!,Cours !
2,Run!,Courez !
3,Who?,Qui ?
4,Wow!,Ça alors !
...,...,...
175616,"Top-down economics never works, said Obama. ""T...","« L'économie en partant du haut vers le bas, ç..."
175617,A carbon footprint is the amount of carbon dio...,Une empreinte carbone est la somme de pollutio...
175618,Death is something that we're often discourage...,La mort est une chose qu'on nous décourage sou...
175619,Since there are usually multiple websites on a...,Puisqu'il y a de multiples sites web sur chaqu...
175620,If someone who doesn't know your background sa...,Si quelqu'un qui ne connaît pas vos antécédent...

## Checking for any null values
Checking for missing values: 
- df.isnull() or df.isna()

Handling missing values:
1)   Removing rows or columns with missing values: **df.dropna()**
2)   Interpolating missing values: **df.interpolate()**
3)   Imputing missing values: You can use **df.fillna(value)** to fill missing values with a specific value, or use more advanced techniques like mean, median, or machine learning algorithms for imputation.

In [3]:
df["French words/sentences"].isna().sum()

0

## Checking for unique values

In [4]:
df.nunique().sum()

289075

## Checking the number of rows
Shape function will return a tuple consisting of 2 indices, 1st (rows,columns)

In [5]:
df.shape[0]

175621

## Checking for the data types of values within the dataframe

In [6]:
df.dtypes

English words/sentences    object
French words/sentences     object
dtype: object

## Checking for number of duplicates
- Detecting duplicates: **df.duplicated()** to check for duplicate rows.
- Removing duplicates: **df.drop_duplicates()** to remove duplicate rows.

In [7]:
df["English words/sentences"].duplicated().sum()

52521